UI/SMART.WCS.Main/Connected Services/Local_WebService_Coupang/CoupangWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CoupangWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61830/CoupangWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61830/CoupangWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61830/CoupangWebService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:61830/CoupangWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Coupang.ColumnMember" />
      <xsd:import schemaLocation="http://localhost:61830/CoupangWebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Coupang" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICoupangWebService_GetServerFileListInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerFileListInfo" />
  </wsdl:message>
  <wsdl:message name="ICoupangWebService_GetServerFileListInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerFileListInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ICoupangWebService_GetDeployServerFileInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeployServerFileInfo" />
  </wsdl:message>
  <wsdl:message name="ICoupangWebService_GetDeployServerFileInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeployServerFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ICoupangWebService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ICoupangWebService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICoupangWebService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ICoupangWebService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="ICoupangWebService">
    <wsdl:operation name="GetServerFileListInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoupangWebService/GetServerFileListInfo" message="tns:ICoupangWebService_GetServerFileListInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoupangWebService/GetServerFileListInfoResponse" message="tns:ICoupangWebService_GetServerFileListInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeployServerFileInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoupangWebService/GetDeployServerFileInfo" message="tns:ICoupangWebService_GetDeployServerFileInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoupangWebService/GetDeployServerFileInfoResponse" message="tns:ICoupangWebService_GetDeployServerFileInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoupangWebService/GetData" message="tns:ICoupangWebService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoupangWebService/GetDataResponse" message="tns:ICoupangWebService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoupangWebService/GetDataUsingDataContract" message="tns:ICoupangWebService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoupangWebService/GetDataUsingDataContractResponse" message="tns:ICoupangWebService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICoupangWebService" type="tns:ICoupangWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerFileListInfo">
      <soap:operation soapAction="http://tempuri.org/ICoupangWebService/GetServerFileListInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeployServerFileInfo">
      <soap:operation soapAction="http://tempuri.org/ICoupangWebService/GetDeployServerFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ICoupangWebService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ICoupangWebService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoupangWebService">
    <wsdl:port name="BasicHttpBinding_ICoupangWebService" binding="tns:BasicHttpBinding_ICoupangWebService">
      <soap:address location="http://localhost:61830/CoupangWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>