UI/SMART.WCS.Main/Connected Services/Local_WebService_Coupang/CoupangWebService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Coupang.ColumnMember" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Coupang.ColumnMember" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61830/CoupangWebService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="LiveUpdateMember">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CommonLiveUpdateFileList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AppLiveUpdateFileList" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ServerVersion" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="LiveUpdateResultCD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiveUpdateResultMsg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LiveUpdateMember" nillable="true" type="tns:LiveUpdateMember" />
  <xs:complexType name="DeployServerFileInfo">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ServerFileInfo" nillable="true" type="q4:ArrayOfArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="ResultCD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultMsg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeployServerFileInfo" nillable="true" type="tns:DeployServerFileInfo" />
</xs:schema>