UI/SMART.WCS.UI.Common/Connected Services/Local_WebService_Coupang/CoupangWebService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61830/CoupangWebService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:61830/CoupangWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Coupang.ColumnMember" />
  <xs:import schemaLocation="http://localhost:61830/CoupangWebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Coupang" />
  <xs:element name="GetServerFileListInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_strAppName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_dicLocalVersion" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerFileListInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Coupang.ColumnMember" minOccurs="0" name="GetServerFileListInfoResult" nillable="true" type="q2:LiveUpdateMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeployServerFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_strAppName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeployServerFileInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Coupang.ColumnMember" minOccurs="0" name="GetDeployServerFileInfoResult" nillable="true" type="q3:DeployServerFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Coupang" minOccurs="0" name="composite" nillable="true" type="q4:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Coupang" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q5:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>